//----------
// Card
// Icon
//----------

// Card

.card {
  border: 1px solid #767676;
  box-shadow: 1px 1px 0 #767676, 2px 2px 0 #767676;
  border-radius: 4px;  
  margin-bottom: 1.5rem;
  
  * {
    min-height: 1px;
  }

  h4 {
    color: #993300;
  }
  
}

.card-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  color: #424242;
  margin: 0;
  padding: 0 0 .25em 0;
}

.card-block {
    // padding-bottom: 0;
}

.card-text {
  
  .bad & {
    text-align: justify;
  }
  
}