//----------
// Skip-links
// Pipe-links
// Nav-tabs
// Navbar
// Navbar-pagination
//----------

// Skip-links

.skip-links a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: 1;

  &:focus {
    left: 0;
    width: auto;
    height: auto;
    padding: 10px 20px;
    background: #ff6200;
    color: white;
    font-size: 1.3	rem;
    font-weight: normal;
    line-height: 1.125;
    text-decoration: underline;
  }
  
  &:hover {
    text-decoration: none;
  }
  
}

.site-nav {
  border-bottom: 1px solid #767676;
  margin-top: -1px;
}

// Pipe-links

.pipe-links {
  max-width: 100%;
  
  // .list-inline-item+.list-inline-item:before {
  //   display: inline-block;
  //   padding-right: .5rem;
  //   padding-left: 0.25rem;
  //   color: #636c72;
  //   content: ">";
  // }
  
  a {
    display: block;
    padding: 8px 1em;
    border: 1px solid transparent;
    border-width: 1px !important;
    border-top-width: 4px !important;
    border-top-color: transparent;
    
    &:focus,
    &:hover {
      position: relative;
      top: 1px;
      height: calc(100% + 1px);
      background: #ffffff;
      border-color: #767676;
      margin: 0;
      
      span {
        position: relative;
        top: -1px;
      }      
      
      @media (min-width: 992px) {
        border-bottom-color: #ffffff;
      }
      
    }
    
  }
  
  [aria-current="true"] {
    position: relative;
    top: 1px;
    height: calc(100% + 1px);
    background: #ffffff;
    border-color: #767676;
    border-top-color: #993300;
      
    span {
      position: relative;
      top: -1px;
    }
      
    @media (min-width: 768px) {
      border-bottom-color: #ffffff;
    }
    
  }
  
}

// Pipe-rechts

.pipe-rechts {
  margin-top: -8px;
  margin-bottom: 2px;
}

@media (min-width: 992px) {
  
  .pipe-rechts {
    text-align: right;
  }
  
}
  

// Navbar

.navbar-brand {
  border: none;
  padding-top: .5rem;
  
  &:hover,
  &:focus {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    padding-top: .5rem;
    margin-right: 1rem;
  }
  
}

.navbar-light {
  font-size: 1.2rem;
  border-bottom: 1px solid #767676;
  padding: 0 1rem;
  
  &.navbar-toggleable-md > .container {
    align-items: flex-start;
  }
  
  .navbar-nav {
    position: relative;
    
    .nav-item {
      white-space: nowrap;
    }
    
    .nav-item.active {
      padding-bottom: 44px;
      margin-bottom: 0;
    }
    
    .nav-link {  
      border-bottom: 4px solid transparent;
      color: #424242;
      padding: 8px;
      margin: 0 4px 0 0;
      
      &:focus,
      &:hover {
        background: transparent;
        border-bottom: 4px solid #767676;
        color: #424242;
        margin: 0 4px 0 0;
        padding: 8px;
      }
      
      .bad & {
        border: 1px solid transparent;      
      }
      
    }
    
    .active>.nav-link,
    .nav-link.active,
    .nav-link.open,
    .open>.nav-link {
      color: #424242;
      font-weight: bold;
      border-bottom: 4px solid #993300;
      
      .bad & {
        font-weight: normal;
        border-bottom: 4px solid transparent;      
      }
      
    }
    
  }
  
}

.navbar-toggler-right {
  top: .5rem;
  right: .5rem;
}

@media (max-width: 992px) {
 
  .navbar-light {
    
    .navbar-nav {
      
      .nav-item {
        position: relative;
        margin: 0;
        
        &.active {
          padding-bottom: 0;
        }
        
      }
    
    }
  
  }
  
}

@media (min-width: 992px) {
 
  .navbar-form {
    
    .bad & {
        padding-top: 1.5rem;     
      }
    
  }
  
}
    

// Navbar-pagination

.pagination-navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.1rem;
  
  li {
    margin: 0;
    white-space: nowrap;
  }
  
  .page-link {
    background-color: transparent;
    color: #424242;
    border-color: transparent;
    border-bottom: 3px solid transparent;
    border-radius: 0 !important;
    padding: 10px 9px 9px 9px;
      
    &:focus,
    &:hover {
      border-bottom: 3px solid #767676;
      margin: 0 0 0 -1px;      
    
      .bad & {
        border-bottom-color: transparent;
        margin: 1px 0 0 0px;    
      }
      
    }
    
    &.active {
      color: #424242;
      font-weight: bold;
      border-bottom: 3px solid #993300;
      
      &:focus {
        margin: 0;
      }
      
      .bad & {
        font-weight: normal;
        border-bottom: 3px solid transparent;      
      }
      
    }
    
  }
  
}

.page-item:first-child .page-link:hover {
  margin-left: 0;
}

@media (max-width: 992px) {
 
  .pagination.pagination-navbar {
    position: static;
    display: block;
  }
  
  .pagination-navbar .page-link {
    border-bottom: 3px solid transparent;
  }
  
}

.to-top {
  position: absolute;
  top: -8px;
  right: 15px;
  
  &.to-top-z {
    z-index: 2;
    top: 12px;
    right: calc(15px + 1.25rem);
  }
  
  .show & {
    display: none;
  }
  
}

.to-top-relative {
  position: relative !important;
  right: 0;
}

// Table-of-contents

.table-of-contents {
  display: none;
  
   .full-cover-title {
      margin: 0;
    }

  &.annotation-on {
    display: block;
  }
  
}



