
// Core CSS
@import "page-structure";
@import "brandbar";
@import "typography";
@import "buttons";
@import "colors";
@import "icons";
@import "images";
@import "forms";
@import "fonts";
@import "highlight";
@import "lists";
@import "tables";
@import "utilities";

// Components
@import "alert";
@import "arrow";
@import "annotations";
@import "badges";
@import "getting-started";
@import "modal";
@import "navigations";
@import "components";
@import "steps";
@import "collapsible";

.p-relative {
  position: relative;
}

.youtube-video {
  width: 100%;
  height: 196px;
  margin-bottom: 1rem;
}

